
.news_title{
  
}

.news_image{
  max-width: 100%;
  height:auto;
  margin-bottom:20px;
}

.time{
  text-align:right;
}

.news_content{
  margin-bottom: 120px;
}

.news_content:first-child{
  margin-top: 50px
}

.delete_btn{
  width:30px;
  height:20px;
  background-color:white;
  margin-left:auto;
  margin-right:0;
}

.delete_btn a{
  color:black;
}

.right{
  text-align:right;
}

.right a{
  color:white;
  font-size:15px;
}