
<div class="container">
  <div class="row">

    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
      <div class="form">
        <div id="video_form">
        <%= form_tag("/videos", method: :post) do %>
          <h3>
            Videoを投稿する
          </h3>
          <input placeholder="Title" type="text" name="title">
          <input placeholder="Location" type="text" name="location">
          <input placeholder="Video Url" type="text" name="video_url">
          <input placeholder="Image Url" type="text" name="img_url">
          <input type="submit" value="SENT">
        <% end %>
      </div>

      <div id="news_form">
        <%= form_tag('/news', method: :post) do %>
          <h3>
            Newsを投稿する
          </h3>
          <input placeholder="Title" type="text" name="title">
          <input placeholder="Image Url" type="text" name="image_url">
          <input placeholder="Time" type="text" name="time">
          <textarea cols="30" name="sentence" placeholder="text" rows="10"></textarea>
          <input type="submit" value="SENT">
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
    </div>

  </div>   <!--  row     -->
</div>