<div id="musiclistcontents">
  <ul>
    <li>
      <div class="cover_img" id="fame">
      </div>
    </li>

    <li>
      <div class="cover_img" id="FameMonster">
      </div>
    </li>

    <li>
      <div class="cover_img" id="BornThisWay">
      </div>
    </li>

    <li>
     <div class="cover_img" id="ArtPop">
     </div>
    </li>

    <li>
     <div class="cover_img" id="Joanne">
     </div>
    </li>

    <li>
    </li>x
  </ul>
<div>